<ul>
  <% @bookings.each do |booking| %>
  <li>
    <%= booking.name%>
    <%= booking.description%>
    <%= booking.price%>
    <%= booking.urgency%>
    <%= booking.category%>
  </li>
  <% end %>
</ul>
