<div class="dashboard-title">
  <h2><%= @user.name %>'s dashboard</h2>
</div>

<div class="dashboard-container">
<% if @user.customer %>
  <div class="col-sm-12 col-lg-6">
    <div class="box">
      <h5 class="box-title">My Requests</h5>
      <div class="inner-box-content">
        <% @requests.each do |request| %>
          <div class="single-request-box">
            <h6><%= request.name%></h6>
            <p><%= request.description%></p>
            <div class="single-request-box-secondary">
             <p>Budget: <%= request.price%></p>&nbsp
             <p>Urgency: <%= request.urgency%></p>&nbsp
             <p>category: <%= request.category%></p>
            </div>
          </div>
        <% end %>
      </div>

      <div class="new-request-button-container">
        <button class="new-request-button btn btn-primary">
          <%= link_to 'create a new request', new_request_path %>
        </button>
      </div>

    </div>
  </div>

  <div class="col-sm-12 col-lg-6">
    <div class=" box">
      <h5 class="box-title">Jobs Accepted</h5>
      <div class="inner-box-content">
        <button class="new-request-button btn btn-primary">

        </button>
      </div>
    </div>
  </div>

<% elsif @user.worker %>

<div class="col-sm-12 col-lg-6">
      <div class="box">
        <h5 class="box-title">Unaccepted Requests</h5>
        <div class="inner-box-content">

       <!--  new requests from customers will go here -->

        </div>
      </div>
  </div>

  <div class="col-sm-12 col-lg-6">
    <div class=" box">
      <h5 class="box-title">Jobs You've accepted</h5>
      <div class="inner-box-content">

      <!-- accepted requests will go here -->

      </div>
    </div>
  </div>
<% end %>
</div>







