<div class="dashboard-title">
  <h2><%= @user.name %>'s dashboard</h2>
</div>

<div class="dashboard-container">
  <div class="col-sm-12 col-lg-6">
    <div class="requests-box box">
      <h6 class="box-title">My Requests</h6>
      <% @bookings.each do |booking| %>
        <div class="single-request-box">
          <%= booking.name%>
          <%= booking.description%>
          <%= booking.price%>
          <%= booking.urgency%>
          <%= booking.category%>
        </div>
      <% end %>
      <% if policy(Booking).new? %>
        <button>
          <%= link_to 'create a new request', new_booking_path %>
        </button>
      <% end  %>
    </div>
  </div>
  <div class="col-sm-12 col-lg-6">
    <div class="active-jobs-box box">
      <h6 class="box-title">Active jobs accepted</h6>
    </div>
  </div>
</div>







