<div class="dashboard-title">
  <h2><%= @user.name %>'s dashboard</h2>
</div>

<div class="dashboard-container">
  <div class="col-sm-12 col-lg-6">
    <div class="box">
      <h5 class="box-title">My Requests</h5>
      <div class="inner-box-content">
        <% @requests.each do |request| %>
          <div class="single-request-box">
            <h6><%= request.name%></h6>
            <p><%= request.description%></p>
            <div class="single-request-box-secondary">
             <p>Budget: <%= request.price%></p>&nbsp
             <p>Urgency: <%= request.urgency%></p>&nbsp
             <p>category: <%= request.category%></p>
            </div>
          </div>
        <% end %>
      </div>
      <% if policy(Request).new? %>
        <div class="new-request-button-container">
          <button class="new-request-button btn btn-primary">
            <%= link_to 'create a new request', new_request_path %>
          </button>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col-sm-12 col-lg-6">
    <div class=" box">
      <h5 class="box-title">Active jobs accepted</h5>
      <div class="inner-box-content">
        <!-- active jobs will go here from workers -->
      </div>
    </div>
  </div>
</div>







