<div id="request-form">
  <%= simple_form_for @request, remote: true do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :price%>
    <%= f.input :urgency %>
    <%= f.input :category %>
    <%= f.button :submit %>
  <% end %>
</div>
