<div class="single-request-box">
  <h6><%= request.name%></h6>
  <p><%= request.description%></p>
  <div class="single-request-box-secondary">
     <p>Budget: <%= request.price%></p>&nbsp
     <p>Urgency: <%= request.urgency%></p>&nbsp
     <p>category: <%= request.category%></p>
  </div>
</div>
