<ul>
<% @all_requests.each do |request| %>
  <li><%= request.name %></li>
  <li><%= request.description %></li>
  <li><%= request.price %></li>
  <li><%= request.urgency %></li>
  <li><%= request.category %></li>
<% end %>
</ul>







