<p>dashboard!</p>


<h3>my requests</h3>

<ul>
  <% @bookings.each do |booking| %>
  <li>
    <%= booking.name%>
    <%= booking.description%>
    <%= booking.price%>
    <%= booking.urgency%>
    <%= booking.category%>
  </li>
  <% end %>
</ul>

<button>
  <%= link_to 'create a new request', new_booking_path %>
</button>

