<div class="banner">
  <div class="banner-content">
    <h1>In a Pickle?</h1>
    <p>Find quick working people for sticky situations</p>
    <div class="home-buttons">
        <button>
          <%= link_to 'Log in', '#', "data-toggle" => "modal", "data-target"=>"#modaldeviselog" %>
        </button>
        <button>
          <%= link_to 'Sign Up', '#', "data-toggle" => "modal", "data-target"=>"#modaldevisesign" %>
        </button>
        <div id="modaldeviselog" class="modal fade">
          <%= render 'devise/sessions/new' %>
        </div>
        <div id="modaldevisesign" class="modal fade">
          <%= render 'devise/registrations/new' %>
        </div>
    </div>
  </div>
</div>

<div class="banner-two">
  <h2>How we work</h2>
  <div class="banner-two-inner-cards">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <div class="home-card">
            <h6>quick stuff</h6>
            <p>Easily sign up with your details and budget</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="home-card">
            <h6>quick stuff</h6>
            <p>Once you've found the worker you like, select them for your job</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="home-card">
            <h6>quick stuff</h6>
            <p>Same day work guaranteed, or your money back!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="banner-three">
  <div class="want-to-work">
    <h5>Want to work with us?</h5>
  </div>
  <div class="worker-buttons">
    <button>
      <%= link_to 'Log in', '#', "data-toggle" => "modal", "data-target"=>"#modaldeviselogworker" %>
    </button>
    <button>
      <%= link_to 'Sign Up', '#', "data-toggle" => "modal", "data-target"=>"#modaldevisesignworker" %>
    </button>
    <div id="modaldeviselogworker" class="modal fade">
      <%= render 'workers/sessions/new' %>
    </div>
    <div id="modaldevisesignworker" class="modal fade">
      <%= render 'workers/registrations/new' %>
      </div>
  </div>
</div>
