
<div class="banner">
  <div class="banner-content">
    <h1>In a Pickle?</h1>
    <p>Find quick working people for sticky situations</p>
    <div class="home-buttons">
        <button>
          <%= link_to 'Log in', '#', "data-toggle" => "modal", "data-target"=>"#modaldeviselog" %>
        </button>
        <button>
          <%= link_to 'Sign Up', '#', "data-toggle" => "modal", "data-target"=>"#modaldevisesign" %>
        </button>
        <div id="modaldeviselog" class="modal fade">
          <%= render 'devise/sessions/new' %>
        </div>
        <div id="modaldevisesign" class="modal fade">
          <%= render 'devise/registrations/new' %>
        </div>
    </div>
  </div>
  <div class="banner-content-two">
    <h2>How we work</h2>
    <div>
      <div class="right-banner-container">
        <div class="desktop-home-card" id="home-card-desk-1">
          <h5>quick stuff</h5>
          <p>Easily sign up with your details and budget and request</p>
        </div>
        <div class="desktop-home-card" id="home-card-desk-2">
          <h5>fast response</h5>
          <p>Once you've made a request, we'll respond within 2 hours</p>
        </div>
        <div class="desktop-home-card" id="home-card-desk-3">
          <h5>job done</h5>
          <p>Same day work guaranteed, or your money back!</p>
        </div>
      </div>
    </div>
  </div>
  <%= javascript_pack_tag 'homeCardDesk' %>
</div>

<div class="banner-two">
  <h1>How we work</h1>
  <div class="banner-two-inner-cards">
    <div class="home-card" id="home-card-mob-1">
      <h5>quick stuff</h5>
      <p>Easily sign up with your details, budget and request</p>
    </div>
    <div class="home-card" id="home-card-mob-2">
      <h5>fast response</h5>
      <p>Once you've made a request, we'll respond within 2 hours</p>
    </div>
    <div class="home-card" id="home-card-mob-3">
      <h5>job done</h5>
      <p>Same day work guaranteed, or your money back!</p>
    </div>
  </div>
  <%= javascript_pack_tag 'homeCardMob' %>
</div>

<div class="banner-review">
  <h1>What people are saying</h1>
  <div class="banner-review-cards">
    <div class="review-card">
      <div class="review-user-pic" id="review-user-one">
      </div>
      <div class="review-user-text">
        <p>oh my god i love it hehehehe</p>
      </div>
    </div>
    <div class="review-card">
      <div class="review-user-text">
        <p>oh my god i love it hehehehe</p>
      </div>
      <div class="review-user-pic" id="review-user-two">
      </div>
    </div>
    <div class="review-card">
      <div class="review-user-pic" id="review-user-three">
      </div>
      <div class="review-user-text">
        <p>oh my god i love it hehehehe</p>
      </div>
    </div>
  </div>
</div>

<div class="banner-three">
  <div class="want-to-work">
    <p>Interested in working with us?</p>
  </div>
  <div class="worker-buttons">
    <button id="sign-up-button">
      <p>Sign up with Pickle now!</p>
    </button>
  </div>
</div>

<%= javascript_pack_tag 'nav' %>


