<ul>
  <% @workers.each do |worker| %>
  <li>
    <%= worker.name %>
    <%= worker.expertise %>
    <%= worker.bio %>
    <%= worker.location %>
    <%= worker.available %>
     <%= link_to "#", worker_path(worker), class: "card-link" %>
  </li>
  <% end %>
</ul>
